.header {

     //Animacion para Hamburger// 
     &.open{

        .header__toggle {
            > span:first-child {
            transform: rotate(45deg);
        }

        > span:nth-child(2) {
            opacity: 0;
        }
        > span:last-child {
            transform: rotate(-45deg);
        }
        
    }    
    //Animacion para Hamburger-end// 
        }
        

    

    .overlay
    {
      
        opacity: 0;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-image: linear-gradient($darkBlue, transparent);
    }

    nav{
        position:relative;
        background-color: $White;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }
    
    &__logo {img {width: 8.8125; height:1.375 }}
    &__toggle {
        > span {
            display: block;
            background-color: black;
            width: 24px;
            height: 2px;
            transition: all 300ms ease-in-out;
            &:not(:last-child){ margin-bottom: 5px;}
            transform-origin: 2px 1px;
            
        }
       
    }

    &__links {
       // border: 1px solid red;
       a { 
           position: relative;
           color:$GrayishBlue;
           font-size: $font-sm;
           transition: color 200ms ease-in-out;
           &:not(:last-child){margin-right: 32px;}
           &:hover {color:$darkBlue; &::before{opacity: 1;
            }}
           &::before 
           {
             content: "";
             display: block;
             position: absolute;
             height: 5px;
             right: 0;
             left: 0;
             background: linear-gradient(to right, $LimeGreen, $BrightCyan);
             bottom: -31px;
             opacity: 0;
             transition: 300ms ease-in-out;

           }
         }
    }
    &__menu {
        margin-top: 30px;
        position: absolute;
        width: 80%;
        left:50%;
        transform: translateX(-50%);
        background: $White;
        padding: 1.625rem;
        border-radius: 5px;

        
        a{
            display: block;
            color: $darkBlue;
            text-align: center;
            padding: 0.625rem;
        }
    }

    &__cta {
        font-size: $font-med;
        color: white;
        transition: opacity 300ms ease-in-out;
    &:hover {
        opacity: 0.75;
    }
        
    }
    
}